<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th colspan="2">
          <div class="col-auto my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" @input="handleFilterChange">
      </div>
    </div></b-th>

    <b-th
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>
      <b-tr>
        <b-th> Id </b-th>
        <b-th> ClientDeviceName </b-th>
    
      </b-tr>
    </b-thead>
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="item in filteredData" :key="item.clientDevice.id">
        <b-td> {{ item.clientDevice.id }} </b-td>
        <b-td
          >{{item.clientDevice.temblarUser.username}}</b-td>

        <b-td
          ><b-button variant="danger" @click="handleDeleteClick(item.clientDevice)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getClientDevices,
  deleteClientDevice,
  clearClientDevices,
} from "../services/ClientDeviceService";

export default {
  clientDeviceName: "ClientDevice",
  data() {
    return {
      data: [],
      filteredData: []
    };
  },
  async created() {
    this.fetchAllClientDevices();
  },
  methods: {
    async fetchAllClientDevices() {
      try {
        this.data = await getClientDevices();
        this.filteredData = this.data;
      } catch (error) {
        console.error(error);
      }
    },
    async handleDeleteClick(clientDevice) {
      if (clientDevice.id === "") {
        this.data = this.data.filter((item) => item.clientDevice.id !== "");
      } else {
        try {
          const approved = await deleteClientDevice(clientDevice.id);
          if (approved) this.fetchAllClientDevices();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleClearClick() {
      try {
        const approved = await clearClientDevices();
        if (approved) this.fetchAllClientDevices();
      } catch (error) {
        console.error(error);
      }
    },
    handleFilterChange(event){
      this.filteredData =  this.data.filter(item => item.clientDevice.temblarUser.username.toLowerCase().includes(event.target.value.toLowerCase()));
    }
  },
};
</script>

<style>
</style>