<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th colspan="2"
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >
        <b-th colspan="2"
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
        <b-th colspan="2"
          ><b-button variant="warning" @click="testPush"
            >TEST</b-button
          ></b-th
        >
        <b-th colspan="2"
          ><b-button variant="success" @click="testLive"
            >SURPRISE</b-button
          ></b-th
        >
      </b-tr>

      <b-tr>
        <b-th> Id </b-th>
        <b-th> DisplayName </b-th>
        <b-th> EventType </b-th>
        <b-th> Source </b-th>
        <b-th>TriggeredBy</b-th>
        <b-th>DisplayMessage </b-th>
        <b-th>TriggeredAt</b-th>
        <b-th>UserInterfaceUrl</b-th>
        

      </b-tr>
    </b-thead>
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="(item, index) in data" :key="index">
        <b-td> {{ item.event.id }} </b-td>
        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.event.displayName"
            placeholder="Enter display name..."
            v-model="item.event.displayName"
        /></b-td>
        <b-td v-if="item.isEditActive" colspan="2"
          ><b-form-select v-model="selected" :options="setSelectOptions()" />
        </b-td>
        <b-td v-if="item.event.eventType !== undefined">
          {{ item.event.eventType ? item.event.eventType.name : "None" }}
        </b-td>
        <b-td v-if="item.event.source !== undefined">
          {{ item.event.source ? item.event.source.sourceName : "None" }}
        </b-td>

        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.event.triggeredBy"
            placeholder="Enter triggered by..."
            v-model="item.event.triggeredBy"
        /></b-td>

        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.event.displayMessage"
            placeholder="Enter display message..."
            v-model="item.event.displayMessage"
        /></b-td>
        <b-td>{{ item.event.triggeredAt }}</b-td>

        <b-td>{{ item.event.userInterfaceUrl }}</b-td>
        <b-td
          ><b-button
            @click="
              item.isEditActive
                ? handleSaveClick(item.event)
                : handleEditClick(item)
            "
            variant="primary"
            >{{ item.isEditActive ? "SAVE" : "EDIT" }}</b-button
          >
        </b-td>

        <b-td
          ><b-button variant="danger" @click="handleDeleteClick(item.event)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import { getEvents, saveEvent, deleteEvent, clearEvents } from "../services/EventService";
import { getEventTypesForSelect } from "../services/EventTypeService";
import { getSources } from "../services/SourceService";

export default {
  name: "Event",
  data() {
    return {
      data: [],
      excistingEventTypes: [],
      excistingSources: [],
      selected: null
    };
  },
  async created() {
    this.fetchAllEventTypes();
    this.fetchAllEvents();
    this.fetchAllSources();
  },
  methods: {
    async fetchAllEvents() {
      try {
        this.data = await getEvents();
        this.sortByNewest();
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllEventTypes() {
      try {
        this.excistingEventTypes = await getEventTypesForSelect();
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllSources() {
      try {
        this.excistingSources = await getSources();
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({
        event: {
          displayName: "",
          triggeredBy: "",
          displayMessage: "",
        },
        isEditActive: true,
      });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
    },
    async handleDeleteClick(event) {
      if (event.id === "") {
        this.data = this.data.filter((item) => item.event.id !== "");
      } else {
        try {
          const approved = await deleteEvent(event.id);
          if (approved) this.fetchAllEvents();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleSaveClick(event) {
      if (this.selected.type === "Source") {
        event.source = { id: this.selected.id };
      }
      if (this.selected.type === "EventType") {
        event.eventType = { id: this.selected.id };
      }
      try {
        const approved = await saveEvent(event);
        if (approved) {
          this.unToggleAllIsEditActive();
          this.fetchAllEvents();
          this.selected = null;
        } else {
          console.log("Couldnt save to db");
        }
      } catch (error) {
        console.error(error);
      }
    },
    setSelectOptions() {
      return [
        { value: null, text: "Select one..." },
        {
          label: "EventTypes",
          options: [
            ...this.excistingEventTypes.map((item) => ({
              value: { id: item.id, type: "EventType" },
              text: item.name,
            })),
          ],
        },
        {
          label: "Sources",
          options: [...this.excistingSources].map((item) => ({
            value: { id: item.source.id, type: "Source" },
            text: item.source.sourceName,
          })),
        },
      ];
    },
    async handleClearClick() {
      try {
        const approved = await clearEvents();
        if (approved) this.fetchAllEvents();
      } catch (error) {
        console.error(error);
      }
    },
    async testPush(){
      this.excistingSources.forEach(async (item) => {
        await saveEvent({
          displayName: "Test from admin temblar",
          triggeredBy: "admin",
          displayMessage: item.source.sourceName,
          source: { id: item.source.id}
        });
      });
      this.fetchAllEvents();
    },
    async testLive(){
      this.excistingSources.forEach(async (item) => {
        await saveEvent({
          displayName: "Velkommen til Temblar",
          triggeredBy: "admin",
          displayMessage: "Takk for at dere deltok på vår demo! 🍕🍻👊🎉",
          source: { id: item.source.id}
        });
      });
      this.fetchAllEvents();
    },
    sortByNewest(){
      this.data = this.data.sort((a, b) => {
        if(a.event.triggeredAt > b.event.triggeredAt){
          return -1;
        }
        if(a.event.triggeredAt < b.event.triggeredAt){
          return 1;
        }

        return 0;
      })
    }
  },
};
</script>

<style>
</style>