<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th> Id </b-th>
        <b-th> Name </b-th>
        <b-th> Description </b-th>
        <b-th
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >
        <b-th
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>
    </b-thead>


    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="item in data" :key="item.eventType.id">
        <b-td> {{ item.eventType.id }} </b-td>
        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.eventType.name"
            placeholder="Enter name..."
            v-model="item.eventType.name"
        /></b-td>
        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.eventType.description"
            placeholder="Enter description..."
            v-model="item.eventType.description"
        /></b-td>
        <b-td
          ><b-button
            @click="
              item.isEditActive
                ? handleSaveClick(item.eventType)
                : handleEditClick(item)
            "
            variant="primary"
            >{{ item.isEditActive ? "SAVE" : "EDIT" }}</b-button
          >
        </b-td>

        <b-td
          ><b-button variant="danger" @click="handleDeleteClick(item.eventType)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getEventTypes,
  saveEventType,
  deleteEventType, clearEventTypes
} from "../services/EventTypeService";

export default {
  name: "EventType",
  data() {
    return {
      data: [],
    };
  },
  async created() {
    this.fetchAllEventTypes();
  },
  methods: {
    async fetchAllEventTypes() {
      try {
        this.data = await getEventTypes();
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({
        eventType: { name: "", description: "" },
        isEditActive: true,
      });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
    },
    async handleDeleteClick(eventType) {
      if (eventType.id === "") {
        this.data = this.data.filter((item) => item.eventType.id !== "");
      } else {
        try {
          const approved = await deleteEventType(eventType.id);
          if (approved) this.fetchAllEventTypes();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleSaveClick(eventType) {
      this.unToggleAllIsEditActive();
      try {
        const approved = await saveEventType(eventType);
        if (approved) this.fetchAllEventTypes();
      } catch (error) {
        console.error(error);
      }
    },
    async handleClearClick() {
      try {
        const approved = await clearEventTypes();
        if (approved) this.fetchAllEventTypes();
      } catch (error) {
        console.error(error);
      }
    }
  },
};
</script>

<style>
</style>