<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th colspan="5">
          <div class="col-auto my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" @input="handleFilterChange" @keypress="handleFilterChange">
      </div>
    </div></b-th>

    <b-th
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>
      <b-tr
        ><b-th> Id </b-th>
        <b-th> ReadAt </b-th>
        <b-th> SeenAt </b-th>
        <b-th> temblarUser </b-th>
        <b-th> event </b-th>
        <b-th colspan="2">Actions</b-th>
        
        
        </b-tr
      >
    </b-thead>
    <b-tbody>
      <b-tr v-for="(item, index) in filteredData" :key="index">
        <b-td>
          {{ item.customNotification.id }}
        </b-td>
        <b-td>
          {{ item.customNotification.readAt }}
        </b-td>
        <b-td>
          {{ item.customNotification.seenAt }}
        </b-td>
        <b-td>
          {{ item.customNotification.temblarUser }}
        </b-td>
        <b-td>
          {{ item.customNotification.event }}
        </b-td>
        <b-td>
          <b-button
            variant="danger"
            @click="handleDeleteClick(item.customNotification)"
            >DELETE</b-button
          >
        </b-td>
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getCustomNotifications,
  saveCustomNotification,
  deleteCustomNotification,
   clearCustomNotifications
} from "../services/CustomNotificationService";

export default {
  name: "Notification",
  data() {
    return {
      data: [],
      filteredData: []
    };
  },
  async created() {
    this.fetchAllCustomNotifications();
  },
  methods: {
    async fetchAllCustomNotifications() {
      try {
        this.data = await getCustomNotifications();
        this.filteredData = this.data;
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({ user: { username: "" }, isEditActive: true });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
    },
    async handleDeleteClick(customNotification) {
      if (customNotification.id === "") {
        this.data = this.data.filter((item) => item.customNotification.id !== "");
      } else {
        try {
          const approved = await deleteCustomNotification(customNotification.id);
          if (approved) this.fetchAllCustomNotifications();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleSaveClick(customNotification) {
      this.unToggleAllIsEditActive();
      try {
        const approved = await saveCustomNotification(customNotification);
        if (approved) this.fetchAllCustomNotifications();
      } catch (error) {
        console.error(error);
      }
    },
    async handleClearClick() {
      try {
        const approved = await clearCustomNotifications();
        if (approved) this.fetchAllCustomNotifications();
      } catch (error) {
        console.error(error);
      }
    },
    handleFilterChange(event){
      this.filteredData =  this.data.filter(item => item.customNotification.temblarUser.username.toLowerCase().includes(event.target.value.toLowerCase()));
    }
    
  },
};
</script>

<style>
</style>