<template>
  <b-table-simple>
    <b-thead>

<b-tr>
        <b-th colspan="2">
          <div class="col-auto my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" @input="handleFilterChange">
      </div>
    </div></b-th>

    <b-th
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>

      <b-tr>
        <b-th> TemblarUser </b-th>
        <b-th> Source </b-th>
        <b-th colspan="2"
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >

      </b-tr>
    </b-thead>
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="(item, index) in filteredData" :key="index">
        <b-td v-if="item.isEditActive"
          ><b-form-select
            v-model="item.sourceSubscription.temblarUser.id"
            :options="setTemblarUserOptions()"
          />
        </b-td>
        <b-td v-if="!item.isEditActive">
          {{
            item.sourceSubscription.temblarUser
              ? item.sourceSubscription.temblarUser.username
              : "Error"
          }}
        </b-td>
        <b-td v-if="item.isEditActive"
          ><b-form-select
            v-model="item.sourceSubscription.source.id"
            :options="setSourceOptions()"
          />
        </b-td>
        <b-td v-if="!item.isEditActive">
          {{
            item.sourceSubscription.source
              ? item.sourceSubscription.source.sourceName
              : "Error"
          }}
        </b-td>
        <b-td v-if="item.isEditActive">
          <b-button
            variant="primary"
            @click="handleSaveClick(item.sourceSubscription)"
            >SAVE</b-button
          >
        </b-td>
        <b-td
          ><b-button
            variant="danger"
            @click="handleDeleteClick(item.sourceSubscription)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getSourceSubscriptions,
  saveSourceSubscription,
  deleteSourceSubscription, clearSourceSubscriptions
} from "../services/SourceSubscriptionService";

import { getSources } from "../services/SourceService";
import { getTemblarUsers } from "../services/TemblarUserService";

export default {
  name: "Subscription",
  data() {
    return {
      data: [],
      sources: [],
      temblarUsers: [],
      filteredData: []
    };
  },
  async created() {
    this.fetchAllSourceSubscriptions();
    this.fetchAllSources();
    this.fetchAllTemblarUsers();
  },
  methods: {
    async fetchAllSourceSubscriptions() {
      try {
        this.data = await getSourceSubscriptions();
        this.filteredData = this.data;
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllSources() {
      try {
        this.sources = await getSources();
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllTemblarUsers() {
      try {
        this.temblarUsers = await getTemblarUsers();
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({
        sourceSubscription: { temblarUser: { id: "" }, source: { id: "" } },
        isEditActive: true,
      });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
      this.data = this.data.filter(
        (item) => item.sourceSubscription.temblarUser.id !== ""
      );
    },
    async handleDeleteClick(sourceSubscription) {
      if (
        sourceSubscription.temblarUser.id === "" ||
        sourceSubscription.source.id === ""
      ) {
        this.unToggleAllIsEditActive();
      } else {
        const result = await deleteSourceSubscription(
          sourceSubscription.source.id,
          sourceSubscription.temblarUser.id
        );
        if (result) this.fetchAllSourceSubscriptions();
      }
    },
    async handleSaveClick(sourceSubscription) {
      try {
        const success = await saveSourceSubscription(sourceSubscription);
        if (success) this.fetchAllSourceSubscriptions();
      } catch (error) {
        console.error(error);
      }
    },
    setTemblarUserOptions() {
      return [
        { text: "Select one", value: null },
        ...this.temblarUsers.map((item) => {
          return {
            value: item.user.id,
            text: item.user.username,
          };
        }),
      ];
    },
    setSourceOptions() {
      return [
        { text: "Select one", value: null },
        ...this.sources.map((item) => {
          return { value: item.source.id, text: item.source.sourceName };
        }),
      ];
    },
    async handleClearClick() {
      try {
        const approved = await clearSourceSubscriptions();
        if (approved) this.fetchAllSourceSubscriptions();
      } catch (error) {
        console.error(error);
      }
    },
    handleFilterChange(event){
      this.filteredData =  this.data.filter(item => item.sourceSubscription.temblarUser.username.toLowerCase().includes(event.target.value.toLowerCase()));
    }
  },
};
</script>

<style>
</style>