<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th> Id </b-th>
        <b-th> SourceName </b-th>
        <b-th
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >
        <b-th
          ><b-button variant="primary" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>
    </b-thead>
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="item in data" :key="item.source.id">
        <b-td> {{ item.source.id }} </b-td>
        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.source.sourceName"
            placeholder="Enter sourceName..."
            v-model="item.source.sourceName"
        /></b-td>
        <b-td
          ><b-button
            @click="
              item.isEditActive
                ? handleSaveClick(item.source)
                : handleEditClick(item)
            "
            variant="primary"
            >{{ item.isEditActive ? "SAVE" : "EDIT" }}</b-button
          >
        </b-td>

        <b-td
          ><b-button variant="danger" @click="handleDeleteClick(item.source)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getSources,
  saveSource,
  deleteSource, clearSources
} from "../services/SourceService";

export default {
  sourceName: "Source",
  data() {
    return {
      data: [],
    };
  },
  async created() {
    this.fetchAllSources();
  },
  methods: {
    async fetchAllSources() {
      try {
        this.data = await getSources();
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({
        source: { sourceName: "" },
        isEditActive: true,
      });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
    },
    async handleDeleteClick(source) {
      if (source.id === "") {
        this.data = this.data.filter((item) => item.source.id !== "");
      } else {
        try {
          const approved = await deleteSource(source.id);
          if (approved) this.fetchAllSources();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleSaveClick(source) {
      this.unToggleAllIsEditActive();
      try {
        const approved = await saveSource(source);
        if (approved) this.fetchAllSources();
      } catch (error) {
        console.error(error);
      }
    },
    async handleClearClick() {
      try {
        const approved = await clearSources();
        if (approved) this.fetchAllSources();
      } catch (error) {
        console.error(error);
      }
    }
  },
};
</script>

<style>
</style>