<template>
  <b-table-simple>
    <b-thead>
      <b-tr>
        <b-th> TemblarUser </b-th>
        <b-th> EventType </b-th>
        <b-th colspan="2"
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >
        <b-th colspan="2"
          ><b-button variant="primary" @click="handleClearClick"
            >ADD</b-button
          ></b-th
        >
      </b-tr>
    </b-thead>
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="(item, index) in data" :key="index">
        <b-td v-if="item.isEditActive"
          ><b-form-select
            v-model="item.subscription.temblarUser.id"
            :options="setTemblarUserOptions()"
          />
        </b-td>
        <b-td v-if="!item.isEditActive">
          {{
            item.subscription.temblarUser
              ? item.subscription.temblarUser.username
              : "Error"
          }}
        </b-td>
        <b-td v-if="item.isEditActive"
          ><b-form-select
            v-model="item.subscription.eventType.id"
            :options="setEventTypeOptions()"
          />
        </b-td>
        <b-td v-if="!item.isEditActive">
          {{
            item.subscription.eventType
              ? item.subscription.eventType.name
              : "Error"
          }}
        </b-td>
        <b-td v-if="item.isEditActive">
          <b-button
            variant="primary"
            @click="handleSaveClick(item.subscription)"
            >SAVE</b-button
          >
        </b-td>
        <b-td
          ><b-button
            variant="danger"
            @click="handleDeleteClick(item.subscription)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getSubscriptions,
  saveSubscription,
  deleteSubscription, clearSubscriptions
} from "../services/SubscriptionService";

import { getEventTypes } from "../services/EventTypeService";
import { getTemblarUsers } from "../services/TemblarUserService";

export default {
  name: "Subscription",
  data() {
    return {
      data: [],
      eventTypes: [],
      temblarUsers: [],
    };
  },
  async created() {
    this.fetchAllSubscriptions();
    this.fetchAllEventTypes();
    this.fetchAllTemblarUsers();
  },
  methods: {
    async fetchAllSubscriptions() {
      try {
        this.data = await getSubscriptions();
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllEventTypes() {
      try {
        this.eventTypes = await getEventTypes();
      } catch (error) {
        console.error(error);
      }
    },
    async fetchAllTemblarUsers() {
      try {
        this.temblarUsers = await getTemblarUsers();
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({
        subscription: { temblarUser: { id: "" }, eventType: { id: "" } },
        isEditActive: true,
      });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
      this.data = this.data.filter(
        (item) => item.subscription.temblarUser.id !== ""
      );
    },
    async handleDeleteClick(subscription) {
      if (
        subscription.temblarUser.id === "" ||
        subscription.eventType.id === ""
      ) {
        this.unToggleAllIsEditActive();
      } else {
        const result = await deleteSubscription(
          subscription.eventType.id,
          subscription.temblarUser.id
        );
        if (result) this.fetchAllSubscriptions();
      }
    },
    async handleSaveClick(subscription) {
      try {
        const success = await saveSubscription(subscription);
        if (success) this.fetchAllSubscriptions();
      } catch (error) {
        console.error(error);
      }
    },
    setTemblarUserOptions() {
      return [
        { text: "Select one", value: null },
        ...this.temblarUsers.map((item) => {
          return {
            value: item.user.id,
            text: item.user.username,
          };
        }),
      ];
    },
    setEventTypeOptions() {
      return [
        { text: "Select one", value: null },
        ...this.eventTypes.map((item) => {
          return { value: item.eventType.id, text: item.eventType.name };
        }),
      ];
    },
    async handleClearClick() {
      try {
        const approved = await clearSubscriptions();
        if (approved) this.fetchAllSubscriptions();
      } catch (error) {
        console.error(error);
      }
    }
  },
};
</script>

<style>
</style>