<template>
  <b-table-simple>
    <b-thead>

<b-tr>
        <b-th colspan="3">
          <div class="col-auto my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" @input="handleFilterChange">
      </div>
    </div></b-th>

    <b-th
          ><b-button variant="danger" @click="handleClearClick"
            >CLEAR</b-button
          ></b-th
        >
      </b-tr>

      <b-tr>
        <b-th> Id </b-th>
        <b-th> Username </b-th>
        <b-th
          ><b-button variant="primary" @click="handleAddClick"
            >ADD</b-button
          ></b-th
        >
      </b-tr>
    </b-thead>
    <img
      class="center"
      v-if="data.length === 0"
      src="../assets/Spinner-1s-200px.gif"
      alt="loading"
    />
    <b-tbody v-if="data.length > 0" class="container">
      <b-tr v-for="item in filteredData" :key="item.user.id">
        <b-td> {{ item.user.id }} </b-td>
        <b-td
          ><b-form-input
            :disabled="!item.isEditActive"
            :value="item.user.username"
            placeholder="Enter username..."
            v-model="item.user.username"
        /></b-td>
        <b-td
          ><b-button
            @click="
              item.isEditActive
                ? handleSaveClick(item.user)
                : handleEditClick(item)
            "
            variant="primary"
            >{{ item.isEditActive ? "SAVE" : "EDIT" }}</b-button
          >
        </b-td>

        <b-td
          ><b-button variant="danger" @click="handleDeleteClick(item.user)"
            >DELETE</b-button
          ></b-td
        >
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
import {
  getTemblarUsers,
  saveTemblarUser,
  deleteTemblarUser, clearTemblarUsers
} from "../services/TemblarUserService";

export default {
  name: "TemblarUser",
  data() {
    return {
      data: [],
      filteredData: []
    };
  },
  async created() {
    this.fetchAllTemblarUsers();
  },
  methods: {
    async fetchAllTemblarUsers() {
      try {
        this.data = await getTemblarUsers();
        this.filteredData = this.data;
      } catch (error) {
        console.error(error);
      }
    },
    handleEditClick(item) {
      this.unToggleAllIsEditActive();
      item.isEditActive = true;
    },
    handleAddClick() {
      this.unToggleAllIsEditActive();
      this.data.unshift({ user: { username: "" }, isEditActive: true });
    },
    unToggleAllIsEditActive() {
      this.data.forEach((value) => {
        if (value.isEditActive === true) {
          value.isEditActive = false;
        }
      });
    },
    async handleDeleteClick(user) {
      if (user.id === "") {
        this.data = this.data.filter((item) => item.user.id !== "");
      } else {
        try {
          const approved = await deleteTemblarUser(user.id);
          if (approved) this.fetchAllTemblarUsers();
        } catch (error) {
          console.error(error);
        }
      }
    },
    async handleSaveClick(user) {
      this.unToggleAllIsEditActive();
      try {
        const approved = await saveTemblarUser(user);
        if (approved) this.fetchAllTemblarUsers();
      } catch (error) {
        console.error(error);
      }
    },
    async handleClearClick() {
      try {
        const approved = await clearTemblarUsers();
        if (approved) this.fetchAllTemblarUsers();
      } catch (error) {
        console.error(error);
      }
    },
    handleFilterChange(event){
      this.filteredData =  this.data.filter(item => item.user.username.toLowerCase().includes(event.target.value.toLowerCase));
    }
  },
};
</script>

<style>
</style>