<template>
  <nav>
    <div>
      <b-nav tabs fill>
        <b-nav-item to="/event/" exact exact-active-class="active"
          >Event</b-nav-item
        >
        <b-nav-item to="/event-type/" exact exact-active-class="active"
          >EventType</b-nav-item
        >
        <b-nav-item to="/notification/" exact exact-active-class="active"
          >Notification</b-nav-item
        >
        <b-nav-item to="/temblar-user/" exact exact-active-class="active"
          >TemblarUser</b-nav-item
        >
        <b-nav-item to="/subscription/" exact exact-active-class="active"
          >Subscription</b-nav-item
        >
        <b-nav-item to="/source/" exact exact-active-class="active"
          >Source</b-nav-item
        >
        <b-nav-item to="/source-subscription/" exact exact-active-class="active"
          >SourceSubscription</b-nav-item
        >
        <b-nav-item to="/client-device/" exact exact-active-class="active"
          >ClientDevice</b-nav-item
        >
      </b-nav>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style>
</style>